body {
  --color-primary: #006494;
  --color-background: #E8F1F2;
  --color-opposite: #13293D;
  font-family: "Comfortaa", cursive;
  background-color: #E8F1F2;
}

.bg-primary{
  background-color: transparent !important;
}

h1,h2,h3,h4,h5,h6,label, li,ul,a{
  color: #006494 !important;
}

.nav-link{
  color: #006494 !important;
  font-size: large !important;
}

.text{
  color: #006494 !important;
  font-size: large !important;
  font-weight: 500;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
}

.logo-unah{
  width: 4.70833rem;
  height: 3.125rem;
}

.h{
  max-height: 30rem !important;
  height: 30rem !important;
  min-height: 30rem !important;
}

.w{
  width: 23.75rem !important;
  min-width: 23.75rem !important;
  max-width: 23.75rem !important;
}


.btn-r:hover{
  background-color: rgb(216, 210, 210);
}
.btn-r:focus{
  background-color: rgb(216, 210, 210);
}

.btn{
  cursor: pointer !important;
}

.mx-7{
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

input::placeholder{
  color: #006494 !important;
}
select::placeholder{
  color: #006494 !important;
}